<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WebSphere" value="http://[insert server:port here]/trade/services/TradeWSServices"/>
    <add key=".NET" value="http://[insert server name here]:6000/bslhttp"/>
    <add key=".NET_IIS" value="http://[insert server name here]:80/TradeWebBSL/tradeBSL.svc"/>
    <add key=".NET_Azure" value="https://[insert Azure DNS name here]:443/tradeBSL.svc"/>
    <add key="BSL_USER" value="azurebsloperationuser"/>
    <add key="BSL_PASSWORD" value="azurebsluser#1"/>
  </appSettings>
  <system.serviceModel>
    <!--Enables the WCF ServiceModel performance counters for this application.-->
    <diagnostics performanceCounters="All"></diagnostics>
    <client>
      <endpoint address="http://temp" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PrimaryTradeServices" contract="Trade.BusinessServiceContract.ITradeServices" name="BasicHttpBinding_PrimaryTradeServices"/>
      <endpoint address="net.tcp://temp" binding="netTcpBinding" bindingConfiguration="CustomTcpBinding_PrimaryTradeServices" contract="Trade.BusinessServiceContract.ITradeServices" name="CustomTcpBinding_PrimaryTradeServices"/>
      <endpoint address="http://placeholder" binding="ws2007HttpBinding" behaviorConfiguration="USERNAME_CLIENT_CREDENTIAL_BEHAVIOR_BSL" bindingConfiguration="Client_Ws2007HttpBinding_T_Security_MCredential_UserName" contract="Trade.BusinessServiceContract.ITradeServices" name="Client_Ws2007HttpBinding_T_Security_MCredential_UserName_BSL">
        <identity>
          <dns value="StockTraderBSLService.Com"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PrimaryTradeServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="64" maxStringContentLength="131072" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="CustomTcpBinding_PrimaryTradeServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="400" maxBufferPoolSize="524288" maxBufferSize="524288" maxConnections="10" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="64" maxStringContentLength="131072" maxArrayLength="16384" maxBytesPerRead="16384" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <ws2007HttpBinding>
        <binding name="Client_Ws2007HttpBinding_T_Security_MCredential_UserName" closeTimeout="00:00:30" openTimeout="00:00:25" receiveTimeout="00:15:00" sendTimeout="00:1:00" allowCookies="true" maxReceivedMessageSize="524288" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="true" transactionFlow="false">
          <readerQuotas maxDepth="512" maxStringContentLength="262144" maxArrayLength="262144" maxBytesPerRead="196608" maxNameTableCharCount="262144" />
          <reliableSession enabled="false" ordered="true" inactivityTimeout="00:10:00" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName"  establishSecurityContext="false" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    
    <!--Behaviors are applied (at the service level) to services that specify them -->
    <behaviors>
    <endpointBehaviors>
      <behavior name="USERNAME_CLIENT_CREDENTIAL_BEHAVIOR_BSL">
        <clientCredentials>
          <serviceCertificate>
            <!--    ****************  If you are using a test cert (self-signed) on the server, you will need to
                 set certificateValidationMode to None, since the client will reject it otherwise.  For production, your
                 client endpoint behavior should use another mode to ensure the cert is a) signed by a root authority, and perhaps also b) has not been revoked.   -->
            <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
          </serviceCertificate>
        </clientCredentials>
      </behavior>
    </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	
</configuration>
