<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<display-name>ssdev-app</display-name>
	
	<!-- for cluster -->
	<!--  
	<distributable />
	-->
	
	<!-- for log4j -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ssdev.app.root</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/config/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	
	<!-- spring config location -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!-- classpath:net/bull/javamelody/monitoring-spring.xml -->
			/WEB-INF/config/spring/spring.xml
		</param-value>
	</context-param>
	<!--  
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	-->
	<filter> 
        <filter-name>LogFilter</filter-name> 
        <filter-class>ctd.util.log.LogFilter</filter-class> 
    </filter>
    <filter>
		<filter-name>SolrRequestFilter</filter-name>
		<filter-class>wl.searchcore.servlet.CustomSolrDispatchFilter</filter-class>
	</filter>

	<!--  
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
		<filter-name>SolrRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<!--  
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener> 
	-->
	<listener>
		<listener-class>ctd.listner.OnlineListner</listener-class>
	</listener>

	<servlet>
		<servlet-name>Dispatcher</servlet-name>
		<servlet-class>ctd.servlet.Dispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>defaultServlet</servlet-name>
		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
			<param-name>home-class</param-name>
			<param-value>ctd.net.rpc.server.HessianServiceDispather</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ScriptLoader</servlet-name>
		<servlet-class>ctd.servlet.ScriptLoader</servlet-class>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>script</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ResourcesLoader</servlet-name>
		<servlet-class>ctd.servlet.ResourcesLoader</servlet-class>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>resources/css</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>SchemaLoader</servlet-name>
		<servlet-class>ctd.servlet.SchemaLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfigLoader</servlet-name>
		<servlet-class>ctd.servlet.ConfigLoader</servlet-class>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>component/gis</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ChartDataLoader</servlet-name>
		<servlet-class>ctd.servlet.ChartDataLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DictionaryLoader</servlet-name>
		<servlet-class>ctd.servlet.DictionaryLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HTMLTemplateLoader</servlet-name>
		<servlet-class>ctd.servlet.HTMLTemplateLoader</servlet-class>
		<init-param>
			<param-name>templatePath</param-name>
			<param-value>resources/template.html</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>PrintServlet</servlet-name>
		<servlet-class>ctd.servlet.PrintServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>ctd.servlet.FileUploader</servlet-class>
		<init-param>
			<param-name>tempDirectory</param-name>
			<param-value>resources/temp</param-value>
		</init-param>
		<init-param>
			<param-name>imgDirectory</param-name>
			<param-value>pageImages</param-value>
		</init-param>
		<init-param>
			<param-name>homeImgDirectory</param-name>
			<param-value>resources/css/app/desktop/images/homepage</param-value>
		</init-param>
		<init-param>
			<param-name>fileUploadMaxSize</param-name>
			<param-value>4M</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>photoServlet</servlet-name>
	   <servlet-class>ctd.servlet.PhotoServlet</servlet-class>
	   <init-param>
			<param-name>photoDirectory</param-name>
			<param-value>temp</param-value>
		</init-param>
		<init-param>
			<param-name>imgDirectory</param-name>
			<param-value>photo</param-value>
		</init-param>
	</servlet>
	<servlet>
	   <servlet-name>photoLoader</servlet-name>
	   <servlet-class>ctd.servlet.PhotoLoader</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>FileDownLoad</servlet-name>
	   <servlet-class>ctd.servlet.FileDownLoad</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Dispatcher</servlet-name>
		<url-pattern>*.jsonRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>defaultServlet</servlet-name>
		<url-pattern>/rpc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScriptLoader</servlet-name>
		<url-pattern>*.jsc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourcesLoader</servlet-name>
		<url-pattern>/resources/css/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchemaLoader</servlet-name>
		<url-pattern>*.schema</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DictionaryLoader</servlet-name>
		<url-pattern>*.dic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLTemplateLoader</servlet-name>
		<url-pattern>*.jshtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintServlet</servlet-name>
		<url-pattern>*.print</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigLoader</servlet-name>
		<url-pattern>/configloader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChartDataLoader</servlet-name>
		<url-pattern>*.chart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploader</servlet-name>
		<url-pattern>*.uploadForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/print_image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>photoServlet</servlet-name>
	   <url-pattern>*.uploadPhoto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>photoLoader</servlet-name>
	   <url-pattern>*.photo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>FileDownLoad</servlet-name>
	   <url-pattern>*.download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<env-entry>
		<env-entry-name>solr/home</env-entry-name>
		<env-entry-value>solr</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

</web-app>
