<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core"
          allowLocation="true" allowDefinition="Everywhere"/>
    <section name="endpointIdentities" type="ConfigService.ServiceConfigurationHelper.ConfigIdentitiesSection, ConfigService.ServiceConfigurationHelper" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <endpointIdentities name="ServiceEndpointIdentities">
    <!--Some sample identities, selectable via ConfigWeb for hosted endpoints
    <identity name="StockTraderDnsIdentity" dnsIdentity="Trade.Com" upnIdentity="" spnIdentity="" rsaPublicKey="" storeName="" storeLocation="" findType=""  findValue="" />
    <identity name="StockTraderCertIdentity" dnsIdentity="" upnIdentity="" spnIdentity="" rsaPublicKey="" storeName="TrustedPeople" storeLocation="LocalMachine" findType="FindBySubjectName"  findValue="Trade.com" />
    -->
  </endpointIdentities>  
  <connectionStrings>   
  </connectionStrings>
  <!-- These are known endpoints we want showing up in ConfigWeb.  You can delete, modify
  add your own so you do not have type common URIs into the login page-->
  <appSettings>
   
    <add key="CONFIG_ADDRESS1" value="https://azurestocktrader.cloudapp.net/config.svc"/>
    <add key="CONFIG_NAME1"    value="Azure StockTrader Web Application"/>
    <add key="CONFIG_CLIENT1"  value="Client_ConfigSvc_BasicHttpBinding_T_Security"/>

    <add key="CONFIG_ADDRESS2" value="https://azurestocktraderbsl.cloudapp.net/config.svc"/>
    <add key="CONFIG_NAME2"    value="Azure StockTrader Business Services"/>
    <add key="CONFIG_CLIENT2"  value="Client_ConfigSvc_BasicHttpBinding_T_Security"/>

    <add key="CONFIG_ADDRESS3" value="net.tcp://azureorderprocessor.cloudapp.net:10003/orders/config"/>
    <add key="CONFIG_NAME3"    value="Azure StockTrader Order Processor Service"/>
    <add key="CONFIG_CLIENT3"  value="Client_ConfigSvc_TcpBinding_T_Security_OPS"/>

    <add key="CONFIG_ADDRESS4" value="https://azurehelloclient.cloudapp.net/config.svc"/>
    <add key="CONFIG_NAME4"    value="ConfigService 5 Web Client Template"/>
    <add key="CONFIG_CLIENT4"  value="Client_ConfigSvc_BasicHttpBinding_T_Security"/>

    <add key="CONFIG_ADDRESS5" value="https://azurehelloservice.cloudapp.net/config.svc"/>
    <add key="CONFIG_NAME5"    value="ConfigService 5 Web Role Svc Template"/>
    <add key="CONFIG_CLIENT5"  value="Client_ConfigSvc_BasicHttpBinding_T_Security"/>
    
    <add key="CONFIG_ADDRESS6" value="net.tcp://azurehelloserviceworker.cloudapp.net:10003/Hello/config"/>
    <add key="CONFIG_NAME6"    value="ConfigService 5 Worker Role Template"/>
    <add key="CONFIG_CLIENT6"  value="Client_ConfigSvc_TcpBinding_T_Security_HelloIdentity"/>


  </appSettings>
  <!--
  <dataCacheClients>
  <dataCacheClient name="SslEndpoint" maxConnectionsToServer="5" channelOpenTimeout="15000" requestTimeout="45000">
    <hosts>
      <host name="AzureConfigWebSessionCache.cache.windows.net" cachePort="22243"/>
    </hosts>
    <securityProperties mode="Message" sslEnabled="true">
      <messageSecurity
        authorizationInfo="YWNzOmh0dHBzOi8vYXp1cmVjb25maWd3ZWJzZXNzaW9uY2FjaGUtY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC9XUkFQdjAuOS8mb3duZXImczJ6ZG9nTzZ3UnczTitpTnVpQXhZZWxibXpFUkFLUFJaV0xCVEFNVGgyTT0maHR0cDovL0F6dXJlQ29uZmlnV2ViU2Vzc2lvbkNhY2hlLmNhY2hlLndpbmRvd3MubmV0">
      </messageSecurity>
    </securityProperties>
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="8388608" maxOutputDelay="2" channelInitializationTimeout="15000" receiveTimeout="600000"/>
  </dataCacheClient>
  </dataCacheClients>
  -->
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false"/>
    <!--This enables the WCF ServiceModel performance counters for this application.-->
    <diagnostics performanceCounters="Off"></diagnostics>
    <client>
      <endpoint address="http://placeholder" binding="basicHttpBinding" bindingConfiguration="Client_ConfigSvc_BasicHttpBinding" contract="ConfigService.ServiceConfigurationContract.IServiceConfiguration" name="Client_ConfigSvc_BasicHttpBinding"/>
      <endpoint address="https://placeholder" binding="basicHttpBinding" bindingConfiguration="Client_ConfigSvc_BasicHttpBinding_T_Security" behaviorConfiguration="Config_T_Security_Behavior" contract="ConfigService.ServiceConfigurationContract.IServiceConfiguration" name="Client_ConfigSvc_BasicHttpBinding_T_Security"/>
      <endpoint address="net.tcp://placeholder" binding="netTcpBinding" bindingConfiguration="Client_ConfigSvc_TcpBinding" contract="ConfigService.ServiceConfigurationContract.IServiceConfiguration" name="Client_ConfigSvc_TcpBinding"/>
   <!--  <endpoint address="net.tcp://placeholder" binding="netTcpBinding" behaviorConfiguration="Config_T_Security_Behavior" bindingConfiguration="Client_ConfigSvc_TcpBinding_T_Security" contract="ConfigService.ServiceConfigurationContract.IServiceConfiguration" name="Client_ConfigSvc_TcpBinding_T_Security">  </endpoint> -->
   <!--   <endpoint address="net.tcp://placeholder" binding="netTcpBinding" behaviorConfiguration="Config_T_Security_Behavior" bindingConfiguration="Client_ConfigSvc_TcpBinding_T_Security" contract="ConfigService.ServiceConfigurationContract.IServiceConfiguration" name="Client_ConfigSvc_TcpBinding_T_Security_BSL">
        <identity>
          <dns value="StockTraderBSLService.Com"/>
        </identity>
      </endpoint> -->
      <endpoint address="net.tcp://placeholder" binding="netTcpBinding" behaviorConfiguration="Config_T_Security_Behavior" bindingConfiguration="Client_ConfigSvc_TcpBinding_T_Security" contract="ConfigService.ServiceConfigurationContract.IServiceConfiguration" name="Client_ConfigSvc_TcpBinding_T_Security_OPS">
        <identity>
          <dns value="StockTraderOPSService.Com"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://placeholder" binding="netTcpBinding" behaviorConfiguration="Config_T_Security_Behavior" bindingConfiguration="Client_ConfigSvc_TcpBinding_T_Security" contract="ConfigService.ServiceConfigurationContract.IServiceConfiguration" name="Client_ConfigSvc_TcpBinding_T_Security_HelloIdentity">
        <identity>
          <dns value="HelloService.Com"/>
        </identity>
      </endpoint>
    </client>
    <!--********************************************************BEGIN CONFIG SERVICE TEMPLATE BINDINGS*****************************************************-->
    <bindings>
      <!--BEGIN basicHttpBindings-->
      <basicHttpBinding>
        <!--CONFIG SERVICE HOST BINDINGS.  TO ADD OTHERS, MAKE SURE TO PREFACE NAME WITH 'Client_ConfigSvc_'-->
        <binding name="Client_ConfigSvc_BasicHttpBinding" closeTimeout="00:00:30" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:01:10" allowCookies="true" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="512" maxStringContentLength="262144" maxArrayLength="262144" maxBytesPerRead="196608" maxNameTableCharCount="262144" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Client_ConfigSvc_BasicHttpBinding_T_Security" closeTimeout="00:00:30" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:01:10" allowCookies="true" bypassProxyOnLocal="true" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="512" maxStringContentLength="262144" maxArrayLength="262144" maxBytesPerRead="196608" maxNameTableCharCount="262144" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>

      </basicHttpBinding>

      <!-- ***********************************************************************BEGIN netTcpBindings *******************************************************************-->
      <netTcpBinding>
        <!--CONFIG SERVICE CLIENT BINDINGS.  TO ADD OTHERS, MAKE SURE TO PREFACE NAME WITH 'Client_ConfigSvc_'-->
        <binding name="Client_ConfigSvc_TcpBinding" closeTimeout="00:00:30" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:01:10" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="500" maxBufferPoolSize="4194304" maxBufferSize="524288" maxConnections="500" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="512" maxStringContentLength="262144" maxArrayLength="262144" maxBytesPerRead="196608" maxNameTableCharCount="262144" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="None">
          </security>
        </binding>

        <binding name="Client_ConfigSvc_TcpBinding_T_Security" closeTimeout="00:00:30" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:01:10" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="500" maxBufferPoolSize="4194304" maxBufferSize="524288" maxConnections="500" maxReceivedMessageSize="524288">
          <readerQuotas maxDepth="512" maxStringContentLength="262144" maxArrayLength="262144" maxBytesPerRead="196608" maxNameTableCharCount="262144" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>


      <!-- *********************************************************** BEGIN ws2007HttpBindings *************************************************************************-->
      <ws2007HttpBinding>

        <!--CONFIG SERVICE CLIENT BINDINGS.  TO ADD OTHERS, MAKE SURE TO PREFACE NAME WITH 'Client_ConfigSvc_'-->
        <binding name="Client_ConfigSvc_Ws2007HttpBinding_T_Security_MCredential" closeTimeout="00:00:30" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:01:10" allowCookies="true" maxReceivedMessageSize="524288" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="true" transactionFlow="false">
          <readerQuotas maxDepth="512" maxStringContentLength="262144" maxArrayLength="262144" maxBytesPerRead="196608" maxNameTableCharCount="262144" />
          <reliableSession enabled="false" ordered="true" inactivityTimeout="00:10:00" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="Client_ConfigSvc_Ws2007HttpBinding_M_Security_MCredential_ClientCert" closeTimeout="00:00:30" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:01:10" allowCookies="true" maxReceivedMessageSize="524288" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="true" transactionFlow="false">
          <readerQuotas maxDepth="512" maxStringContentLength="262144" maxArrayLength="262144" maxBytesPerRead="196608" maxNameTableCharCount="262144" />
          <reliableSession enabled="false" ordered="true" inactivityTimeout="00:10:00" />
          <security mode="Message">
            <message clientCredentialType="Certificate" establishSecurityContext="true" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>



      </ws2007HttpBinding>

      <!-- *********************************************************** BEGIN customBindings *************************************************************************-->

      <customBinding>
        <binding name="Client_CustomTcpBinding_M_Security">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
              requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
              keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncryptAndEncryptSignature"
              messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSecurityContextCancellation="true" requireSignatureConfirmation="false">
            <localClientSettings cacheCookies="true" detectReplays="true"
                replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="01:00:00" 
                replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
            <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
                maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                reconnectTransportOnFailure="true" maxPendingSessions="128"
                maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            <secureConversationBootstrap defaultAlgorithmSuite="Default"
                authenticationMode="MutualCertificate" requireDerivedKeys="true"
                securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy"
                messageProtectionOrder="SignBeforeEncryptAndEncryptSignature"
                messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                requireSignatureConfirmation="true">
              <localClientSettings cacheCookies="true" detectReplays="true"
                  replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="01:00:00"
                  replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                  sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                  timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="60" />
              <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
                  maxStatefulNegotiations="128" replayCacheSize="900000" maxClockSkew="00:05:00"
                  negotiationTimeout="00:01:00" replayWindow="00:05:00" inactivityTimeout="00:02:00"
                  sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                  reconnectTransportOnFailure="true" maxPendingSessions="128"
                  maxCachedCookies="1000" timestampValidityDuration="00:05:00" />
            </secureConversationBootstrap>
          </security>
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="262144" maxArrayLength="16384"
                maxBytesPerRead="196608" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="524288" connectionBufferSize="8192"
              hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
              maxBufferSize="65536" maxPendingConnections="10" maxOutputDelay="00:00:00.2000000"
              maxPendingAccepts="1" transferMode="Buffered" listenBacklog="10"
              portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
                idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="100" />
          </tcpTransport>
        </binding>
      </customBinding>

    </bindings>


    <!-- END CONFIG SERVICE TEMPLATE BINDINGS-->

    <!--*******************************************BEGIN CONFIG SERVICE TEMPLATE SERVICE BEHAVIORS****************************************-->
    <!--Service Behaviors are applied (at the service level) to services that specify them, hence apply to ALL ENDPOINTS FOR A SERVICE HOST/VHOST -->
    <behaviors>
      <serviceBehaviors>
      </serviceBehaviors>
      <!--BEGIN CONFIG SERVICE TEMPLATE ENDPOINT BEHAVIORS-->
      <!--Endpint Behaviors are applied at the individual endpoint level.-->
      <endpointBehaviors>
        <behavior name="Config_T_Security_Behavior"> 
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="CERTIFICATE_CLIENT_CREDENTIAL_BEHAVIOR_BSL">
          <clientCredentials>
            <!-- ***********************This is the self-signed test cert I used, you must use your own self-signed test cert
              and substitute is name (findValue = CN name); and where it is stored on your computers (which cert store). -->
            <clientCertificate findValue="StockTraderBSLClient.Com" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="TrustedPeople"></clientCertificate>
            <serviceCertificate>
              <!--    ****************  If you are using a test cert (self-signed) on the server, you will need to
                 set certificateValidationMode to None, since the client will reject it otherwise.  For production, your
                 client endpoint behavior should use another mode to ensure the cert is a) signed by a root authority, and perhaps also b) has not been revoked.   -->
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--END CONFIG SERVICE TEMPLATE BEHAVIORS-->
  </system.serviceModel>

  <system.web>
    <identity impersonate="false" />
    <trace enabled="false" pageOutput="false" />
    <customErrors mode="Off"></customErrors>
    <compilation defaultLanguage="c#" debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Tasks, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="configform" path="/" loginUrl="login.aspx" defaultUrl="Nodes.Aspx" protection="All" timeout="20" slidingExpiration="true"/>
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->

    <sessionState mode="Off" cookieless="false" stateConnectionString="" timeout="25"/>
   
</system.web>

  <location path="logout.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="nodes.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="nodemap.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="SOAMap.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="config.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="configdefine.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="managekeys.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="configupdate.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="connectionpoint.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="updateconnectionpoint.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="addconnection.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="PurgeConnectionPoints.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="RemoveNode.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="updatehostedservice.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="manageusers.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="users.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="updateconnectedservice.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="audit.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="hsservices.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="csservices.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="login.aspx">
    <system.web>
      <authorization>
      </authorization>
    </system.web>
  </location>
  <location path="vhosts.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="vhostupdate.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="64" />
    </connectionManagement>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
